@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@600;800&family=Poppins:wght@200&display=swap');

body{
    background-color: #E8E8DB;
    margin: 0 0 0 0;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
}
